<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">WFH <%= @wfh.id %></h4><hr>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-sm-9">
                    <h5>Availability From: <%= @wfh.availability_from %></h5>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-sm-9">
                    <h5>Availability To: <%= @wfh.availability_to %></h5>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-sm-9">
                    <h5>Reason: <%= @wfh.reason %></h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-sm-9">
                    <h5>Status: <%= @wfh.status %></h5>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
                <%= link_to 'Edit', edit_wfh_path(@wfh.id), class: 'btn btn-warning' %>
            </div>
            <div class="col-1">
                <%= button_to 'Delete', wfh_path(@wfh.id), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
